@charset "UTF-8";
:root {
	--color-b: #000;
	--color-b2: #666;
	--color-b3: #999;
	--color-black: #252525;
	--color-white: #fff;
	--color-white2: #f8f8f8;
	--white-white3: #eee;
	--color-grey1: #444;
	--color-grey2: #707070;
	--color-grey3: #b4b4b4;
	--color-grey4: #9e9e9e;
	--color-grey5: #c8c8c8;
	--bg-grey1: #f3f6f8;
	--brand-color-main: #4e2fc1;
	--brand-color-sub: #6e4ede;
	--brand-color-sub2: #4d24df;
	--border-color2: #e2e2e2;
	--color-red: #e40000;
	--pine-green: #020a0a;
	--spacing: 1rem;
	--header-hei: 6.25rem;
	--general-font: 'General Sans', 'Pretendard', sans-serif;
	--ivy-font: 'Campton', 'ivymode', 'Pretendard', sans-serif;
	--h-wrap: 115.75rem;
	--wrap-1820: 115.75rem;
	--wrap: 112rem;
	--f-wrap: 112rem;
	--custom-wave-anim: custom_common_wave 1.4s cubic-bezier(0.165, 0.84, 0.44, 1)
		both;
	--dep2-hei: 15.9375rem;
}
